/* You can add global styles to this file, and also import other style files */

@import '../node_modules/ngx-toastr/toastr.css';
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.truncate-cell {
    max-width: 3rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.col-12{
    width:100%;
}
.col-11{
    width:91.666666666667%;
}
.col-10{
    width:83.333333333333%;
}
.col-9{
    width:75%;
}
.col-8{
    width:66.666666666667%
}
.col-7{
    width:58.333333333333%;
}
.col-6 {
    width: 50%;
}
.col-5{
    width:41.666666666667%;
}
.col-4{
    width:33.333333333333%;
}
.col-3{
    width:25%;
}
.col-2{
    width:16.666666666667%;
}
.col-1 {
    width: 8.33333%;
}

ml-1{
    margin-right: 1rem;
    margin-left: 1rem;
}



